body{
    background-color: lightskyblue;
}



.start_button, .rule_box, .quiz_box{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(50px, 50px);  

}




.start_button button{
    font-size: 20px;
    font-weight: 300;
    color: black;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background: white;
    cursor: pointer;
}

.rule_box{
    display:none;
    width: 540px;
    background: white;
    border-radius: 5px;

}

.rule_box .rule_title{
    height: 55px;
    width: 100%;
    border-bottom: 2px solid lightblue;
    display: flex;
    align-items: center;
    padding: 0 30px;
    font-size: 24px;
    font-weight: 500;

}

.rule_box .rule_list{
    padding: 15px 35px;
}

.rule_box .rule_list .info{
    margin: 5px 0;
    font-size: 18px;
}

.rule_box .rule_list .info span{
    font-weight: 500;
    color: red;
}

.rule_box .buttons{
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 0 40px;
    border-top: 2px solid lightblue;
}

.rule_box .buttons button{
    margin:  0 5px;
    height: 25px;
    width: 200px;
    font-size: 16px;
    font-weight: 500;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    transition: all 0.2s ease;
}

.buttons button.restart:hover{
    background-color: green;
}

.buttons button.quit:hover{
    background-color: red;
}

.quiz_box{
    width: 550px;
    background: white;
    border-radius: 5px;
}

.quiz_box header{
    position: relative;
    z-index: 99;
    height: 70px;
    padding: 0 30px;
    background: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 5px 5px 0 0;
    
}

.quiz_box header .title{
    font-size: 20px;
    font-weight: 600;
}

.quiz_box header .timer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 145px;
    height: 45px;
    background: lightskyblue;
    border: 2px solid black;
    border-radius: 5px;
    padding: 0 8px;
}

.quiz_box header .timer .time_title {
    font-size: 15px;
    font-weight: 400;
    user-select: none;
}

.quiz_box header .timer .timer_secs {
    font-size: 17px;
    font-weight: 500;
    height: 30px;
    width: 45px;
    background: white;
    border-radius: 5px;
    text-align: center;
    line-height: 30px;
    user-select: none;
}

.quiz_box section{
    padding: 25px 30px 20px 30px;
}

.quiz_box section .quest_info{
    font-size: 25px;
    font-weight: 600;
}

.quiz_box section .quest_list{
    padding: 20px 0;
    display: block;
}

section .quest_list .names{
    background: lightskyblue;
    border: 1px solid lightblue;
    border-radius: 5px;
    padding: 10px 15px;
    margin-bottom: 15px;
    font-size: 17px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
}

section .quest_list .names:hover{
    color: purple
}

.quest_list .names:last-child{
    margin-bottom: 0px;
}

