body{
    background: purple;
}

::selection{
    color: white;
    background: #72abe9;
}

.start_button,
.rule_box,
.quiz_box,
.result_tab{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
}

.rule_box.activeInfo,
.quiz_box.activeQuiz,
.result_tab.activeResult{
    opacity: 1;
    z-index: 5;
    pointer-events: auto;
    transform: translate(-50%, -50%) scale(1);
}

.start_button button{
    font-size: 25px;
    font-weight: 500;
    color: purple;
    padding: 15px 30px;
    outline: none;
    border: none;
    border-radius: 5px;
    background: white;
    cursor: pointer;
}

.rule_box{
    width: 540px;
    background: white;
    border-radius: 5px;
    transform: translate(-50%, -50%) scale(0.9);
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s ease;
}

.rule_box .rule-title{
    height: 60px;
    width: 88%;
    border-bottom: 1px solid purple;
    display: flex;
    align-items: center;
    padding: 0 30px;
    border-radius: 5px 5px 0 0;
    font-size: 20px;
    font-weight: 600;
}

.rule_box .rule-list{
    padding: 15px 30px;
}

.rule_box .rule-list .rule{
    margin: 5px 0;
    font-size: 17px;
}

.rule_box .rule-list .rule span{
    font-weight: 800;
    color: purple;
}
.rule_box .buttons{
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 0 30px;
    border-top: 1px solid purple;
}

.rule_box .buttons button{
    margin: 0 5px;
    height: 40px;
    width: 100px;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    border: none;
    outline: none;
    border-radius: 5px;
    border: 1px solid purple;
    transition: all 0.3s ease;
}

.quiz_box{
    width: 550px;
    background: white;
    border-radius: 5px;
    transform: translate(-50%, -50%) scale(0.9);
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s ease;
}

.quiz_box header{
    position: relative;
    z-index: 2;
    height: 70px;
    padding: 0 30px;
    background: white;
    border-radius: 5px 5px 0 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}

.quiz_box header .title{
    font-size: 20px;
    font-weight: 600;
}

.quiz_box header .timer{
    color: black;
    background: whitesmoke;
    border: 1px solid #c8a5ef;
    height: 45px;
    padding: 0 8px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 145px;
}

.quiz_box header .timer .time_title{
    font-weight: 400;
    font-size: 17px;
    user-select: none;
}

.quiz_box header .timer .timer_secs{
    font-size: 18px;
    font-weight: 500;
    height: 30px;
    width: 45px;
    color: white;
    border-radius: 5px;
    line-height: 30px;
    text-align: center;
    background: black;
    border: 1px solid purple;
    user-select: none;
}



section{
    padding: 25px 30px 20px 30px;
    background: white;
}

section .que_text{
    font-size: 25px;
    font-weight: 600;
}

section .option_list{
    padding: 20px 0px;
    display: block;   
}

section .option_list .option{
    background: rgb(236, 202, 236);
    border: 1px solid black;
    border-radius: 5px;
    padding: 8px 15px;
    font-size: 17px;
    margin-bottom: 15px;
    cursor: pointer;
    transition: all 0.2s ease;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

section .option_list .option:last-child{
    margin-bottom: 0px;
}

section .option_list .option:hover{
    color: white;
    background: purple;
    border: 1px solid black;
}

section .option_list .option.correct{
    color: white;
    background: green;
    border: 1px solid black;
}

section .option_list .option.incorrect{
    color: white;
    background: red;
    border: 1px solid black;
}

section .option_list .option.disabled{
    pointer-events: none;
}

section .option_list .option .icon{
    height: 26px;
    width: 26px;
    border: 2px solid transparent;
    border-radius: 50%;
    text-align: center;
    font-size: 13px;
    pointer-events: none;
    transition: all 0.3s ease;
    line-height: 24px;
}


footer{
    height: 60px;
    padding: 0 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 1px solid lightgrey;
}

footer .total_que span{
    display: flex;
    user-select: none;
}

footer .total_que span p{
    font-weight: 500;
    padding: 0 5px;
}

footer .total_que span p:first-child{
    padding-left: 0px;
}

footer button{
    height: 40px;
    padding: 0 13px;
    font-size: 18px;
    font-weight: 400;
    cursor: pointer;
    border: none;
    outline: none;
    color: #fff;
    border-radius: 5px;
    background: purple;
    border: 1px solid black;
    line-height: 10px;
    opacity: 0;
    pointer-events: none;
    transform: scale(0.95);
    transition: all 0.2s ease;
}

footer button:hover{
    background: green;
}

footer button.show{
    opacity: 1;
    pointer-events: auto;
    transform: scale(1);
}

.result_tab{
    background: white;
    border-radius: 5px;
    display: flex;
    padding: 25px 30px;
    width: 500px;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    transform: translate(-50%, -50%) scale(0.9);
    opacity: 0;
    pointer-events: none;
    transition: all 0.2s ease;
}



.result_tab .finished_text{
    font-size: 20px;
    font-weight: 500;
}

.result_tab .final_text span{
   display: flex;
    margin: 10px 0;
    font-size: 18px;
    font-weight: 500;
}

.result_tab .final_text span p{
    padding: 0 2px;
    display: flex;
    font-weight: 600;
}

.result_tab .buttons{
    display: flex;
    margin: 20px 0;
}

.result_tab .buttons button{
    margin: 0 10px;
    height: 45px;
    padding: 0 20px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    border: none;
    outline: none;
    border-radius: 5px;
    border: 1px solid purple;
    transition: all 0.3s ease;
}

.buttons button.restart{
    color: white;
    background: purple;
}

.buttons button.restart:hover{
    background: green;
}

.buttons button.quit{
    color: purple;
    background: white;
}

.buttons button.quit:hover{
    color: white;
    background: red;
}